<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <title>Главная страница</title>
        <link rel="stylesheet" href="css/skills.css">
    </head>
    <body>
        <header>
            <img>
            <h1>Fullstack-программист</h1>
        </header>
        <main>
            <p>Fullstack-программист - это специалист в области программирования, который обладает знаниями и навыками как на стороне клиента (frontend), так и на стороне сервера (backend) веб-приложения. Эта профессия требует широкого спектра компетенций, чтобы разрабатывать и поддерживать веб-приложения от начала до конца.</p>
            <br>Основные обязанности fullstack-программиста включают в себя:
            <ol>
                <li>
                    <strong>Frontend-разработка:</strong>
                    <ul>
                        <li>Создание пользовательского интерфейса (UI) с использованием языков программирования, таких как HTML, CSS и JavaScript.</li>
                        <li>Работа с фреймворками и библиотеками для разработки интерактивных и отзывчивых пользовательских интерфейсов</li>
                        <li>Обеспечение кроссбраузерной совместимости и оптимизация производительности фронтенда</li>
                    </ul>
                </li>
                <li>
                    <strong>Backend-разработка:</strong>
                    <ul>
                        <li>Работа с серверной частью веб-приложения, обработка запросов от клиентов.</li>
                        <li>Взаимодействие с базами данных для хранения и извлечения данных.</li>
                        <li>Разработка серверных приложений с использованием языков программирования, таких как Python, Java, Ruby, Node.js и других.</li>
                    </ul>
                </li>
                <li>
                    <strong>Работа с базами данных:</strong>
                    <ul>
                        <li>Проектирование и управление базами данных для эффективного хранения данных.</li>
                        <li>Написание запросов для извлечения и манипулирования данными.</li>
                    </ul>
                </li>
                <li>
                    <strong>Общение и совместная работа:</strong>
                    <ul>
                        <li>Взаимодействие с другими членами команды, такими как дизайнеры и QA-инженеры.</li>
                        <li>Понимание требований заказчика и адаптация веб-приложения в соответствии с ними.</li>
                    </ul>
                </li>
                <li>
                    <strong>Обеспечение безопасности:</strong>
                    <ul>
                        <li>Реализация мер безопасности на уровне приложения и баз данных.</li>
                        <li>Защита от веб-атак и уязвимостей.</li>
                    </ul>
                </li>
            </ol>
            <p>Fullstack-программисты могут использовать различные инструменты и технологии в своей работе, включая фреймворки (например, React, Angular, Vue.js), серверные технологии (например, Node.js, Django, Flask), системы контроля версий (например, Git) и другие.</p>
            <p>Имея навыки и опыт как на frontend, так и на backend, fullstack-программисты способны создавать полноценные веб-приложения от идеи до развертывания и поддержки.</p>
        </main>
        <footer>
            Малышев Тимофей Евгеньевич РИ-220930
        </footer>
    </body>
</html>