{% extends 'layout.html' %}
{% load static %}
{% block head %}
	<title>Главная страница</title>
    <link rel="stylesheet" href="{% static 'css/skills.css' %}">
{% endblock %}
{% block content %}
<header>

    <h1><img class="logo" src="{% static 'img/fs.png' %}"><br>Fullstack-программист</h1>
</header>
    <main>
        <h2>Популярные навыки</h2>
        <div class="container">
            <div><p>Среди всех профессий самыми популярными являются:</p><table>
                <tr>
                    <th>Название скилла</th>
                    <th>Количество упоминаний в вакансиях</th>
                </tr>
                {% for i in skills %}
                    <tr>
                        <td>{{ i.skill }}</td>
                        <td>{{ i.skill_count }}</td>
                    </tr>
                {% endfor %}
            </table><img class="graph" src="{% static 'img/skill_graph_1.png  ' %}"></div><div><p>Список самых популярных навыков среди профессии Fullstack-программист:</p><table>
            <tr>
                <th>Название скилла</th>
                <th>Количество упоминаний в вакансиях</th>
            </tr>
                {% for i in skills_fs %}
                    <tr>
                        <td>{{ i.skill }}</td>
                        <td>{{ i.skill_count }}</td>
                    </tr>
                {% endfor %}
        </table><img class="graph" src="{% static 'img/skill_graph_2.png' %}"></div></div><p>Можно заметить, что для профессии Fullstack-программист превалирующим скиллом является владение javascript, а также другими языками программирования, необходимые для разработки проектов, сайтов</p>
    </main>
    <footer>
        Малышев Тимофей Евгеньевич РИ-220930
    </footer>
{% endblock %}
