aside{
    float: left;
    background: #181818;
    width: 15%;
    padding: 2.5%;
    height: 200vh;
    color: #fff;
    border-right: 5px solid #4d4d4d;
}
aside h3{
    font-size: 28px;
}
aside  ul{
    list-style: none;
}
aside ul li{
    color: #fff;
    display: block;
    margin-top: 20px;
    font-size: 18px;
    transition: transform .5s ease;
    text-decoration: none;
}
aside img{
    width: 25px;
    float: left;
    margin-right: 2px;
}
aside ul a{
    text-decoration: none;
}
aside ul li:hover, aside ul a:hover{
    color: #eb5959;
    text-decoration: none;
    transform: scale(1.05);
}
body{
    margin: 0;
}