td, table{
    border: 1px solid black;
    text-align: center;
}
h1, h2{
    text-align: center;
}
.container{
    display: flex;
    gap:20px;
    flex-wrap: wrap;
    justify-content: center;
}
.graph{
    width:500px;
}
.logo{
    width: 200px;
    text-align: center;
}
h1{
    text-align: center;
    margin: 0;
}
h3{
    text-align: center;
}